.wrap {
  display: flex;
  list-style-type: none;
}

.list {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  width: 400px;
  background-color: white;
  border: 1px solid aquamarine;
}

.deleteBtn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-left: 20px;
  background-color: aquamarine;
  border: 1px solid white;
  font-weight: 600;
  font-size: 16px;
}