* {
  box-sizing: border-box;
  margin-top: 0;
  padding: 0;
}

body {
  font-size: 18px;
  font-family: "Calisto MT";
  font-weight: 400;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 600px;
  opacity: 0.9;
}

.nightMode{
  display: block;
  background: url('./img/night.jpeg') center center/cover no-repeat;
}

.dayMode{
  display: block;
  background: url('./img/day2.jpeg') center center/cover no-repeat;
}